<div class="container mt-5">
  <div class="row align-items-center">
    <div class="p-4 p-md-5 border rounded-3 bg-ligth">
      <div class="col-md-6 offset-md-3">

        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "authors/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="form-group">
            <%= f.label :nickname %><br />
            <%= f.text_field :nickname, class: "form-control", autofocus: true, autocomplete: "nickname" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password %> <i>(Deixe em branco se não quiser alterar)</i><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> Min Caracteres</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
          </div>

          <div class="form-group">
            <%= f.label :current_password %> <i>(Precisamos de sua senha atual para confirmar suas alterações)</i><br />
            <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Editar", class:"btn btn-success mt-2" %>
          </div>
        <% end %>

        <h4>Cancel my account</h4>

        <div>O que aconteceu? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></div>

        <%= link_to "Voltar", :back, class:"btn btn-primary mt-4" %>

      </div>
    </div>
  </div>
</div>